<mat-toolbar color="primary">
  <span>GeoMedicos</span>
  <span class="spacer"></span>

  <!-- Links de navegación -->
  <button mat-button routerLink="/">Inicio</button>
  <button mat-button routerLink="/doctors">Médicos</button>

  <span class="spacer"></span>


  @if (!authService.currentUser$) {
    <button mat-button color="accent" routerLink="/login">Iniciar Sesión</button>
    <button mat-raised-button color="accent" routerLink="/register">Registrarse</button>
  }

  @else {
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item [routerLink]="(authService.currentUser$ | async)?.role === 'DOCTOR' ? '/profile/doctor' : '/profile/user'">
        <mat-icon>person</mat-icon> Área Personal
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon> Cerrar Sesión
      </button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon> Mi Cuenta
    </button>
  }
</mat-toolbar>
