<div class="card h-100 shadow-sm border-0">
    <div class="card-body">
      <h5 class="card-title text-primary fw-semibold">{{ enfermedad.nombre }}</h5>
      @if(enfermedad.descripcionTratamiento){
        <p class="text-muted">
          {{ enfermedad.descripcionTratamiento }}
        </p>
      }
     @if(enfermedad.nombreEspecialidad){
      <span class="badge bg-info mb-2">
        {{ enfermedad.nombreEspecialidad }}
      </span>
     }
    
      <div class="mt-2 text-end">
        <button class="btn btn-outline-primary btn-sm" (click)="onDetalle.emit(enfermedad)">
          Ver detalles
        </button>
      </div>
    </div>
  </div>
  
