<mat-card class="personal-data-card">
    <mat-card-header class="bg-info text-white d-flex align-items-center">
        <mat-icon class="me-2">person</mat-icon>
        <div>
            <span class="text-white-50">Datos Personales</span>    
            <mat-card-subtitle><span class="text-white">Nombre: </span>{{persona?.nombre + ' ' + persona?.apellidos}}</mat-card-subtitle>
        </div>
    </mat-card-header>
    <mat-card-content>
        <p><span class="text-body-emphasis">Correo: </span>{{persona?.correo}}</p>
        <p><span class="text-body-emphasis">Role: </span>{{persona?.role}}</p>
        <p><span class="text-body-emphasis">ID: </span>{{persona?.idUsuario}}</p>
        @if(isMedico(persona)){
            <p><span class="text-body-emphasis">Especialidad: </span> {{persona.especialidades}}</p>
            <p><span class="text-body-emphasis">Tratamientos: </span> {{persona.tratamientos}}</p>
            <div class="d-grid gap-2 mt-3">
                <button class="btn btn-primary" (click)="abrirModalAltaHorario()">➕ Alta horario</button>
                <button class="btn btn-outline-primary" (click)="abrirModalVerHorarios()">📅 Ver horarios</button>
            </div>
        }
       
    </mat-card-content>
</mat-card>
@if (mostrarAltaHorario && isMedico(persona)) {
  <app-modal-alta-horario 
    [medico]="persona"
    (cerrar)="cerrarModales()">
  </app-modal-alta-horario>
}

@if (mostrarListadoHorarios && isMedico(persona)) {
  <app-modal-agrupar-horario 
    [medico]="persona"
    (cerrar)="cerrarModales()"
  ></app-modal-agrupar-horario>
}