<footer class="bg-info text-white py-3 mt-auto">
    <div class="container-fluid d-flex justify-content-between align-items-center">
      
      <a class="navbar-brand" [routerLink]="['/']">
        <img src="/favicon.ico" width="40" alt="Logo">
      </a>
  

      <div class="d-flex gap-3">
        <a href="https://facebook.com" target="_blank" class="text-white">
          <i class="fab fa-facebook fa-lg"></i>
        </a>
        <a href="https://twitter.com" target="_blank" class="text-white">
          <i class="fab fa-twitter fa-lg"></i>
        </a>
        <a href="https://instagram.com" target="_blank" class="text-white">
          <i class="fab fa-instagram fa-lg"></i>
        </a>
      </div>
  
      <div class="text-end small">
        &copy; 2025 Geomedicos
      </div>
  
    </div>
  </footer>
  
