<table class="table table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Correo</th>
      <th>Rol</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    @for (usuario of usuarios; track usuario.idUsuario) {
      <tr>
        <td>{{ usuario.nombre }} {{ usuario.apellidos }}</td>
        <td>{{ usuario.correo }}</td>
        <td>{{ usuario.role }}</td>
        <td>
          <span class="badge" [ngClass]="usuario.enabled ? 'bg-success' : 'bg-secondary'">
            {{ usuario.enabled ? 'Activo' : 'Inactivo' }}
          </span>
        </td>
        <td>
          <button class="btn btn-sm" 
                  [ngClass]="usuario.enabled ? 'btn-danger' : 'btn-success'" 
                  (click)="onToggle(usuario)">
                   <i class="fas" [ngClass]="usuario.enabled ? 'fa-user-slash' : 'fa-user-check'"></i>
            {{ usuario.enabled ? 'Desactivar' : 'Activar' }}
          </button>
        </td>
      </tr>
    }
  </tbody>
</table>

